body {
    /*display: -ms-flexbox;*/
    display: flex;
    color: #000;
    /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
    /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
    background: url('../img/nature-forest-park-trees-4936.jpg') no-repeat top fixed;
}

.cover {
    padding: 0 1.5rem;
}
.cover .btn {
    padding: .75rem 1.25rem;
}

#global_plans{
    color: red;
}

#user-signup-form input {
    width: 300px;
}
#user-login-form input {
    width: 300px;
}

.right-block .btn {
    width: 100%;
}